footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.cookies,
.imprint {
    cursor: pointer;
}

.cookies:hover,
.imprint:hover {
    color: rgb(201, 201, 201);
}