header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.menuicon {
    cursor: pointer;
}

.menuicon div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}