header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    height: 60px;
    width: auto;
    cursor: pointer;
}

.menuicon {
    cursor: pointer;

}

.menuicon div {
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}