* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
    color: white;
    scroll-behavior: smooth;
    scrollbar-color: #81272C rgb(0, 0, 0);
    scrollbar-width: thin;
}

html,
body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* TOP */
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topimages {
    height: 470px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.topbackground {
    background-image: url(./img/images/Banner1-1.png);
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px -2px #00000069;
    border: 1px solid #81272C;
}

.toplogo {
    background: linear-gradient(45deg, rgba(19, 17, 24, 1) 0%, rgba(32, 17, 17, 1) 100%);
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 10px -2px #000000;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    left: calc(50% - 50px);
    border: 1px solid #81272C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.toplogo:hover {
    background: linear-gradient(45deg, rgb(30, 27, 37) 0%, rgb(53, 28, 28) 100%);
    text-decoration: none;
}

.toplogo p {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;

}

.top img {
    width: 100%;
}

h1 {
    margin-top: 20px;
}

h2 {
    font-size: 18px;
    font-weight: 200;
    margin-top: 12px;
    text-align: center;
    margin-bottom: 12px;
}

.h1andreviews {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* REVIEWS */
.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(190, 190, 190, 0.203);
    padding: 5px;
    border-radius: 15px;
}

.reviews img {
    height: 16px;
    width: auto;
    margin-right: 5px;
}

/* MAIN CONTENT */
main {
    flex-grow: 1;
}

.widthcontrol {
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
}