.basket_closed {
    transform: translateX(100%) !important;
    /* display: none; */
}

.basket {
    background: #000000;
    height: 100vh;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
    transform: translateX(0);
    transition: all 0.1s linear;
    box-shadow: -0px 0px 20px 0px #000000bc;
}

.yourbaskettitle {
    font-weight: 600;
    margin-top: 130px;
    font-size: 26px;
}

.buynowbutton {
    background: white;
    height: 50px;
    width: 250px;
    border-radius: 25px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;
    margin-top: 15px;
}

.buynowbutton:hover {
    background: rgb(170, 170, 170);
}

.greyline {
    width: 95%;
    height: 1px;
    background: #202020;
    margin-bottom: 15px;
    margin-top: 15px;
}

.deliveryfeetext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.deliveryprice {
    font-size: 20px;
    font-weight: 300;
}

.subtotaltext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 5px;
}

.subtotalprice {
    font-size: 20px;
    font-weight: 300;
}

.totalpricetext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.totalprice {
    font-size: 22px;
    font-weight: 300;
}

.orderinbasket {
    background: rgb(24, 24, 24);
    border-radius: 30px;
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    margin-left: 0px;
    flex-shrink: 0;
}

.foodimageinbasket {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 10px;
}

.greyprice {
    font-size: 14px;
    color: grey;
}

.foodname {
    font-size: 16spx;
    margin-bottom: 5px;
}

.basketsigns {
    height: 10px;
    background: #DC441E;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.basketsigns:hover {
    background: #ce9c8f;
}

.numberofitems {
    display: flex;
    margin-bottom: 5px;
    margin-left: 5px;
    gap: 5px;
    align-items: center;
}

.combinedprice {
    text-align: right;
    font-weight: 300;
}

.counter {
    font-weight: 300;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
}

.lowerbasketsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basketitems {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 75%;
    margin: 10px;
}