.catogory_seperator {
    width: 100%;
    /* margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%); */
    background: linear-gradient(227deg, rgba(32, 17, 17, 1) 0%, rgba(16, 16, 18, 1) 72%);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 28px;
    padding-top: 0px;
    font-weight: 600;
    color: white;
}

h4 {
    margin-bottom: 5px;
    text-align: left;
}

h5 {
    margin-bottom: 15px;
    font-weight: 400;
    color: rgb(194, 194, 194);
}

.foodarticle {
    background: linear-gradient(180deg, rgba(32, 17, 17, 1) 0%, rgba(16, 16, 18, 1) 72%);
    border-radius: 30px;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid #81272C;
    padding: 0px 20px 0px 20px;
}

.foodimages {
    height: 125px;
    width: 125px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    object-fit: cover
}

.startingprice {
    font-weight: 200;
    color: rgba(155, 155, 155, 0.791);
    font-size: 14px;
}

.price {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.791);
}

.plusicon {
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plusicon_wide p {
    color: black;
}

.plusicon_wide {
    background: white;
    height: 25px;
    width: 60px;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plusicon:hover {
    background: rgb(201, 201, 201);
}

.plusicon img {
    height: 18px;
}

.priceandaddbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foodsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px
}

.foodarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.priceandname {
    margin-bottom: 20px;
}

.foodimageandname {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category1 {
width: 100%;
}