h3 {
    font-size: 28px;
    padding-top: 36px;
    font-weight: 600;
    color: white;
}

h4 {
    margin-bottom: 5px;
    text-align: left;
}

h5 {
    margin-bottom: 15px;
    font-weight: 400;
    color: rgb(194, 194, 194);
}

.foodarticle {
    background: linear-gradient(45deg, rgba(19, 17, 24, 1) 0%, rgba(32, 17, 17, 1) 100%);
    border-radius: 30px;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid #81272C;
    padding: 0px 20px 0px 20px;
}

.foodimages {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.startingprice {
    font-weight: 200;
    color: rgba(155, 155, 155, 0.791);
    font-size: 14px;
}

.price {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.791);
}

.plusicon {
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plusicon:hover {
    background: rgb(201, 201, 201);
}

.plusicon img {
    height: 18px;
}

.priceandaddbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foodsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px
}

.foodarea {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 20px;
    margin-right: 20px;
}

.priceandname {
    margin-bottom: 20px;
}

.foodimageandname {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}