header {
    height: 80px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    z-index: 21;
    position: fixed;
    top: 0;
    left: 0;
}

.headericons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    gap: 10px;
}

.headericons a {
    height: 46px;
}

.logo {
    height: 60px;
    width: auto;
    cursor: pointer;
    margin-left: 20px;
}

.menuicon {
    cursor: pointer;
    padding: 10px;
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuicon div {
    width: 24px;
    height: 2px;
    background-color: white;
}

.menubar2 {
    margin: 6px 0;
}

.menuicon:hover {
    background: rgb(49, 49, 49);
    border-radius: 50%;
}

#home {
    scroll-margin-top: 90px;
}

@media(max-width: 440px) {
    .logo {
        height: 35px;
    }

    .navbaricons {
        height: 24px;
        width: 24px;
    }

    .menuicon div {
        width: 22px;
    }

    .menubar2 {
        margin: 4px;
    }

    .navimageswrapper {
        width: 300px;
    }
}