* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
    color: white;
    scroll-behavior: smooth;
    scrollbar-color: #ffffff rgb(0, 0, 0);
    scrollbar-width: thin;
}

html,
body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 80px;
}

h1 {
    margin-top: 20px;
}

h2 {
    font-size: 18px;
    font-weight: 200;
    margin-top: 12px;
    text-align: center;
    margin-bottom: 12px;
}

/* REVIEWS BELOW H1 */
.h1andreviews {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(190, 190, 190, 0.203);
    padding: 5px;
    border-radius: 15px;
}

.reviews img {
    height: 16px;
    width: auto;
    margin-right: 5px;
}

/* MAIN CONTENT */
main {
    flex-grow: 1;
}

.widthcontrol {
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
}